.brand-logo {
	margin-left: 10px
}


footer {
	text-align: center;
	height: auto;
	padding: 10px 0;

	.secondary-nav {
		float: none;

		ul {
			margin: 0;
			padding: 0;
		}

		li {
			float: none
		}

		a {
			padding: 0;
			margin: 0;
		}
	}

	.copyright {
		float: none;
		padding: 10px 0;
	}
}