*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
body,
form,
fieldset,
legend,
input,
select,
textarea,
button {
  margin: 0;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-size: 1rem;
  line-height: 22px;
  line-height: 1.375rem;
  color: #585858;
  font-weight: 400;
  background: #ffffff;
}
p {
  margin: 0 0 1em 0;
}
a {
  color: #cd5c5c;
  background: transparent;
  text-decoration: underline;
}
a:active,
a:hover {
  outline: 0;
  text-decoration: none;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin: 0;
}
h1,
.h1 {
  font-size: 32px;
  font-size: 2rem;
  line-height: 38px;
  line-height: 2.375rem;
  margin-top: .7em;
  margin-bottom: .5em;
  color: #343434;
  font-weight: 400;
}
h2,
.h2 {
  font-size: 26px;
  font-size: 1.625rem;
  line-height: 32px;
  line-height: 2rem;
  margin-top: 1.4em;
  margin-bottom: .2em;
  color: #343434;
  font-weight: 400;
}
h3,
.h3 {
  font-size: 22px;
  font-size: 1.375rem;
  line-height: 28px;
  line-height: 1.75rem;
  margin-top: 1em;
  margin-bottom: .2em;
  color: #343434;
  font-weight: 400;
}
h4,
.h4 {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 24px;
  line-height: 1.5rem;
  margin-top: 1em;
  margin-bottom: .2em;
  color: #343434;
  font-weight: 400;
}
h5,
.h5 {
  font-size: 16px;
  font-size: 1rem;
  line-height: 22px;
  line-height: 1.375rem;
  margin-top: 1em;
  margin-bottom: .1em;
  color: #343434;
  font-weight: 400;
}
h6,
.h6 {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 20px;
  line-height: 1.25rem;
  margin-top: 1em;
  margin-bottom: .1em;
  color: #343434;
  font-weight: 400;
}
b,
strong,
.strong {
  font-weight: 700;
}
em,
.em {
  font-style: italic;
}
abbr[title],
.abbr[title] {
  border-bottom: 1px dotted;
}
dfn {
  font-style: italic;
}
small,
.small {
  font-size: 80%;
}
mark,
.mark {
  background: #ff0;
  color: #000;
}
sub,
.sub,
sup,
.sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup,
.sup {
  top: -0.5em;
}
sub,
.sub {
  bottom: -0.25em;
}
del,
.del {
  text-decoration: line-through;
}
figure {
  margin: 1em 40px;
}
hr,
.hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 1px;
  background: #eee;
  border: 0;
  margin-top: 1em;
  margin-bottom: 1em;
}
body {
  background: #dbdbdb;
}
header {
  height: 100px;
}
.brand-logo {
  float: left;
  margin: 15px 30px 0 0;
}
.brand-logo h1 {
  text-indent: -9999px;
  background: url(../img/logo.png) left top no-repeat;
  margin: 0;
  width: 91px;
  height: 91px;
}
.nav-toggle {
  background: none;
  border: 0;
  float: right;
  margin-top: 40px;
  cursor: pointer;
}
.nav-toggle .bar {
  display: block;
  width: 22px;
  height: 2px;
  margin-top: 3px;
  border-radius: 1px;
  border: 1px solid #0a3d85;
}
nav {
  display: none;
  padding-top: 30px;
}
nav a {
  font-weight: bold;
  text-decoration: none;
  color: #0a3d85;
  padding: 0 5px;
}
nav a:hover {
  text-decoration: underline;
}
.active {
  display: block;
  position: absolute;
  right: 70px;
  top: -8px;
}
.active li {
  list-style: none;
}
.container {
  clear: both;
  margin: auto;
}
.box {
  margin: 0 30px 30px 0;
  height: 300px;
  background: #fff;
}
.content h2 {
  font-style: italic;
  color: #a7a7a7;
  margin-bottom: 15px;
}
footer {
  clear: both;
  background: #a7a7a7;
  color: #fff;
  height: 50px !important;
}
footer a {
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
}
footer a:hover {
  text-decoration: underline;
}
footer .secondary-nav {
  float: left;
}
footer .secondary-nav li {
  list-style: none;
  float: left;
}
footer .copyright {
  float: right;
  padding: 16px 36px 0 0;
}
.brand-logo {
  margin-left: 10px;
}
footer {
  text-align: center;
  height: auto;
  padding: 10px 0;
}
footer .secondary-nav {
  float: none;
}
footer .secondary-nav ul {
  margin: 0;
  padding: 0;
}
footer .secondary-nav li {
  float: none;
}
footer .secondary-nav a {
  padding: 0;
  margin: 0;
}
footer .copyright {
  float: none;
  padding: 10px 0;
}
@media only screen and (min-width: 768px) {
  footer .secondary-nav {
    padding-left: 10px;
  }
  footer .secondary-nav li {
    float: left;
    margin: 10px 10px 0 0;
  }
  footer .copyright {
    float: right;
  }
}
@media only screen and (min-width: 992px) {
  .nav-toggle {
    display: none;
  }
  nav {
    display: block;
  }
  nav li {
    list-style: none;
    float: left;
    margin-right: 15px;
  }
  .copyright {
    float: right;
  }
}
.no-margin {
  margin: 0;
}
.no-padding {
  padding: 0;
}
.no-float {
  float: none;
}
.no-background {
  background: transparent;
}
.no-border {
  border: 0;
}
.font-thin {
  font-weight: 100;
}
.font-light {
  font-weight: 300;
}
.font-regular {
  font-weight: 400;
}
.font-medium {
  font-weight: 500;
}
.font-semi-bold {
  font-weight: 600;
}
.font-bold {
  font-weight: 700;
}
.font-extra-bold {
  font-weight: 800;
}
.font-ultra-bold {
  font-weight: 900;
}
.font-normal {
  font-style: normal;
}
.font-italic {
  font-style: italic;
}
.uppercase {
  text-transform: uppercase;
}
.lowercase {
  text-transform: lowercase;
}
.capitalize {
  text-transform: capitalize;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.static {
  position: static;
}
.block {
  display: block;
}
.inline-block {
  display: inline-block;
}
.inline {
  display: inline;
}
.left {
  float: left;
}
.right {
  float: right;
}
.center-element {
  float: none;
  margin-left: auto;
  margin-right: auto;
}
.sr {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.list-unstyled {
  list-style: none;
  margin: 0;
  padding: 0;
}
.list-unstyled li {
  margin: 0;
  padding: 0;
}
.list-inline {
  list-style: none;
  margin: 0;
  padding: 0;
}
.list-inline li {
  margin: 0;
  padding: 0;
  display: inline-block;
}
.img-left {
  float: left;
  margin-right: 20px;
}
.img-right {
  float: right;
  margin-left: 20px;
}
.field-group {
  padding-top: .5em;
  padding-bottom: .5em;
  overflow: hidden;
}
.field-group label {
  padding-top: 8px;
}
.field {
  width: 100%;
}
.button {
  border: 1px solid #d7d7d7;
  background-color: #f3f3f3;
  line-height: normal;
  padding: .5em 1em;
  text-decoration: none;
  color: #363636;
  display: inline-block;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.button:hover {
  background: #f9f9f9;
}
.button:active {
  background: #fff;
}
.button-link {
  color: #cd5c5c;
  text-decoration: underline;
  border: 0;
  background: transparent;
  padding: 0;
}
.button-link:hover {
  text-decoration: none;
}
.button-link:active {
  outline: 0;
}
.disabled {
  pointer-events: none;
  opacity: .5;
}
.select {
  border: 1px solid #ccc;
  overflow: hidden;
  height: 36px;
  line-height: 32px;
  position: relative;
  display: block;
}
.select:before {
  content: "";
  border: 6px solid transparent;
  border-top-color: #676767;
  top: 50%;
  right: 10px;
  margin-top: -3px;
  pointer-events: none;
  position: absolute;
}
.select select {
  -webkit-appearance: none;
  width: 110%;
  height: 36px;
  padding: 0 .4em;
  line-height: normal;
  border: 0;
  background: transparent;
  display: block;
}
.select select:focus {
  outline: 0;
}
.checkbox,
.radio {
  display: inline-block;
  position: relative;
  margin-top: .5em;
  margin-bottom: .5em;
}
.checkbox label,
.radio label {
  padding-left: 20px;
  padding-top: 0;
  display: inline-block;
}
.checkbox input[type="checkbox"],
.radio input[type="checkbox"],
.checkbox input[type="radio"],
.radio input[type="radio"] {
  position: absolute;
  top: 4px;
  left: 0;
}
