.container {
	clear: both;
	margin: auto;
}

.box {
  	margin: 0 30px 30px 0;
	height: 300px;
	background: #fff;
}

.content {

	h2 {
		font-style: italic;
		color: @secondary-color;
		margin-bottom: 15px
	}
}