footer {
	clear: both;
	background: @secondary-color;
	color: #fff;
	height: 50px !important;

	a {
		color: #fff;
		text-decoration: none;
		margin-right: 10px;

		&:hover {
			text-decoration:underline;
		}	
	}
 
	.secondary-nav {
		float: left;

		li {
			list-style: none;
			float: left
		}
	}

	.copyright {
		float: right;
		padding: 16px 36px 0 0;
	}
} 