body {
	background: @tertiary-color;
}

header {
	height: 100px
}

.brand-logo {
	float: left;
	margin: 15px 30px 0 0;

	h1 {
		text-indent: -9999px;
		background: url(../img/logo.png) left top no-repeat;
		margin: 0;
		width: 91px;
		height: 91px;
	}
}

.nav-toggle {
	background: none;
	border: 0;
	float: right;
	margin-top: 40px;
	cursor: pointer;

	.bar {
		display: block;
		width: 22px;
		height: 2px;
		margin-top: 3px;
		border-radius: 1px;
		border: 1px solid @primary-color;
	}
}
 
nav {
	display: none;
	padding-top: 30px;

	a {
		font-weight: bold;
		text-decoration: none;
		color: @primary-color;
		padding: 0 5px;

		&:hover {
			text-decoration: underline;
		};
	}
}

.active {
	display: block;
	position: absolute;
	right: 70px;
	top: -8px;

	li {
		list-style: none
	}
}